
#Don't track content of these folders
.idea/

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

a.out

.vscode/settings.json
files/entrada.csv
files/hash.bin
files/entrada1.csv
files/entrada200.csv
files/teste.txt
files/entrada_preproc.csv
entrada_preproc.txt
files/
